:root {
  /* colours */
  --c-yellow: #f3ff8f;
  --c-dark-green: #000e10;
  --c-salmon: #ffbdbd;
  --c-ye: #000;
  --c-black: black;
  --c-light-green: #55d17b;
  --c-light-grey: #dfe0e1;
  --c-alt: #000;
  --c-alt-bg: #000;
  --c-light-blue: #65cdf5;

  --text-col: var(--c-yellow);
  --bg-col: var(--c-dark-green);

  --active: var(--c-light-blue);
  --inactive: var(--c-salmon);

  --tag-col: var(--c-light-green);
  --tag-text: var(--c-black);

  --border-col: var(--c-light-grey);
  --border-radius: 10px;

  --alt-bg-col: var(--c-salmon);
  --alt-col: var(--c-black);
}

body {
  font-family: 'Red Hat Mono', monospace;
  background-color: var(--bg-col);
  color: var(--text-col);
}

a {
  color: var(--inactive)
}
a:focus,
a:hover {
  color: var(--active);
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

@media (min-width: 2000px) {
  .content {
    max-width: 30%;
  }
}

@media (max-width: 1000px) {
  .content {
    max-width: 70%;
  }
}

@media (max-width: 700px) {
  .content {
    max-width: 80%;
  }
}
