---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.svelte';
import Title from '../components/Title.svelte';

const about = Astro.fetchContent('../content/about.md')[0];
const source = about.astro.html;
const description = about.description;
---

<html lang="en">
  <head>
    <MainHead title="Danny Keig: Personal Site" description={description} />
    <style>
      .oops {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <Title {description} />
      </div>
    </header>
    <main>
      <div class="oops">
        <h1>404</h1>
        <div class="content">
          Hmmm, looks like that page does not exist...
        </div>
      </div>
    </main>
		<Footer />
  </body>
</html>
