---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button.svelte';
import Nav from '../components/Nav.svelte';
import Footer from '../components/Footer.svelte';
import { Markdown } from 'astro/components';

// Data Fetching: List all Markdown posts in the repo.
const about = Astro.fetchContent('../content/about.md');
const source = about[0].astro.source;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead title="Danny Keig: Personal Site" description="Danny Keig: Computational Artist & Software Engineer" />
  </head>
  <style>
    .content-text {
      font-size: 1.4em;
    }
  </style>
  <body>
    <Nav />
    <header class="hero">
    </header>
    <main class="content content-text">
      <Markdown content={source} />
      <div class="links">
        <ul>
          <li>Find my Github here</li>
          <li>Find my linkedin here</li>
          <li>Email me here</li>
        </ul>
      </div>
    </main>
		<Footer />
  </body>
</html>
