---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>about</h1>
			<p>
        I make things with software - whether that be art and music or tools and applications.
			</p>
      <p>
        My background is in music and audio engineering. I had spent a decade
        trying to get closer to the machine in my creative pursuits - the logical
        conclusion was programming. Along the way I discovered the joys of automation
        too.
      </p>
			<p>
        I am a passionate neovim user and am into odd keyboards.
      </p>
			<p>
        I have started to update my <a href="/blog">blog</a> so please head over to have a read.
			</p>
      <p>You can reach me at <code>hello (at) dannykeig dot com</code></p>
		</main>
		<Footer />
	</body>
</html>
